<pool type='dir'>
  <name>images</name>
  <uuid>28c24fd3-f9f3-4ef1-ba99-ddd300aa98be</uuid>
  <capacity unit='bytes'>7935428132864</capacity>
  <allocation unit='bytes'>2955658235904</allocation>
  <available unit='bytes'>4979769896960</available>
  <source>
  </source>
  <target>
    <path>/var/lib/libvirt/images</path>
    <permissions>
      <mode>0755</mode>
      <owner>107</owner>
      <group>107</group>
      <label>system_u:object_r:unlabeled_t:s0</label>
    </permissions>
  </target>
</pool>